
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playwrite CU', cursive;
    line-height: 1.6;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}

p, h2, h3 {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #ffffff;
    text-align: left;
}

.container {
    max-width: 800px; 
    margin: 0 0;
    padding: 0;
}

header {
    background-color: #e0e0e0; 
    padding: 50px 0;
    border-bottom: 2px solid #000000; /
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: black; 
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #333030;
    font-weight: bold;
    transition: color 0.3s ease; 
}

nav a:hover {
    color: #666;
}


section {
    padding: 100px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px;
}

section h3 {
    font-size: 1.5em;
    margin-top: 40px;
    color: #555;
}


#about .about {
    text-align: left; 
}

#about img {
    max-width: 800px;
    height: auto;
    margin: 20px 0;
}

#about p {
    justify-content: center;
    align-content: first baseline;
}

#characters img {
    max-width: 500px; 
    height: auto; 
    margin: 0 20px 20px 0;
    border-radius: 30px;
}

#characters .container > div {
    display: flex;
    align-items: flex-start; 
}

#director img {
    max-width: 250px;
    height: auto;
    border-radius: 30px;
}

#director .container {
    display: inline-flexbox;
    align-items: flex-start; 
}

#director p {
    justify-content: center;
    align-content: right;
}

.brands-list {
    list-style: none;
    margin-top: 50px;
}

.brands-list li {
    display: inline;
    margin: 0 15px;
}

.brands-list img {
    max-height: 60px; 
    opacity: 0.8; 
    transition: opacity 0.3s ease;
}

.brands-list img:hover {
    opacity: 1;
}


#contact .contact-methods {
    display: left;
    justify-content: space-between;
}

#contact .contact-methods > div {
    flex: 1;
    margin: 0 20px;
    text-align: left;
}

#contact form input,
#contact form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

#contact form button {
    background-color: #333;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact form button:hover {
    background-color: #555;
}


.social-links {
    list-style: none;
    margin-top: 30px;
}

.social-links li {
    display: inline-block;
    margin: 0 15px;
}

.social-links img {
    max-height: 40px; 
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.social-links img:hover {
    opacity: 1;
}

footer {
    background-color: #e0e0e0;
    padding: 30px 0;
    border-top: 2px solid #ccc; 
}

footer p {
    font-size: 0.9em;
    color: #666;
}
